{% extends "prizes_app/base.html" %}
{% load static %}
{% block content %}
    <header class="header">
        <div class="header__upper">
            <div class="header__upper__stars">
                <img src="{% static 'prizes_app/images/star.png' %}" alt="star">
                <h1>1000</h1>
            </div>
            <div class="triangle"></div>
        </div>

        <picture class="header__picture">
            <source srcset="{% static 'prizes_app/images/gift.webp' %}" type="image/webp" />
            <img src="{% static 'prizes_app/images/gift.png' %}" />
        </picture>
        <h1 class="header__text">Раздача Telegram Stars<br>10 призов по 1000 Telegram Stars</h1>
        <div class="header__timer">
            <div class="header__timer-time">
                <div class="header__timer-block">1</div>
                <div class="header__timer-block">0</div>
            </div>
            <div class="header__timer-division">:</div>
            <div class="header__timer-time">
                <div class="header__timer-block">0</div>
                <div class="header__timer-block">5</div>
            </div>
            <div class="header__timer-division">:</div>
            <div class="header__timer-time">
                <div class="header__timer-block">5</div>
                <div class="header__timer-block">9</div>
            </div>
        </div>
        <p>Будьте онлайн на этой странице в 21:21,<br>чтобы принять участие в раздаче</p>
    </header>
    <main class="main">
        <h4>Участников онлайн: 102</h4>
        <p>Приглашайте друзей и увеличивайте свои шансы на победу.</p>
        <span>Вы пока не приглашали участников</span>
        <div class="container">
            {% for i in '0123456789' %}
                <div class="user">
                <div class="user__img">

                </div>
                <div class="user__info">
                    <h3>name</h3>
                    <p><img src="{% static 'prizes_app/images/chance.png' %}" alt="">9.94% шанс</p>
                </div>
                <div class="user__invites">
                    <p>78 <img src="{% static 'prizes_app/images/user-ico.png' %}"></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}