{% extends "prizes_app/base.html" %}
{% load static %}
{% block content %}
    <header class="header">
        <div class="header__upper">
            <div class="header__upper__stars">
                <img src="{% static 'prizes_app/images/star.png' %}" alt="star">
                <h1>{{ prizeObj.tg_stars }}</h1>
            </div>
            <div class="triangle"></div>
        </div>

        <picture class="header__picture">
            <source srcset="{% static 'prizes_app/images/gift.webp' %}" type="image/webp" />
            <img src="{% static 'prizes_app/images/gift.png' %}" />
        </picture>
        {% if not isFinished %}
            <h1 class="header__text">Раздача Telegram Stars<br>{{ prizeObj.count_winners }} призов по {{ starsByOne }} Telegram Stars</h1>
            <div class="header__timer" data-js-time>
            <div class="header__timer-time" data-js-hours >
                <div class="header__timer-block">{{ fh }}</div>
                <div class="header__timer-block">{{ lh }}</div>
            </div>
            <div class="header__timer-division">:</div>
            <div class="header__timer-time" data-js-minutes >
                <div class="header__timer-block">{{ fm }}</div>
                <div class="header__timer-block">{{ lm }}</div>
            </div>
            <div class="header__timer-division">:</div>
            <div class="header__timer-time" data-js-seconds >
                <div class="header__timer-block">{{ fs }}</div>
                <div class="header__timer-block">{{ ls }}</div>
            </div>
        </div>
            <p class="header__paragraph">Будьте онлайн на этой странице в {{ timeEnd }},<br>чтобы принять участие в раздаче</p>
        {% else %}
            <h1 class="header__text">Раздача Telegram Stars<br>Встречайте победителей!</h1>
            <p class="header__paragraph">Розыгрыш завершился в {{ timeEnd }}</p>
        {% endif %}

    </header>
    <main class="main">

        {% if not isFinished %}
            <h4>Участников онлайн:<span class="online-right-now">{{ users|length }}</span></h4>
            <p>Приглашайте друзей и увеличивайте свои шансы на победу.</p>
            <span class="invited">Вы пока не приглашали участников</span>
        {% else %}
            <h4><span class="winner-count">{{ winners|length }}</span> победителей</h4>
            <p>Бот автоматически определил {{ prizeObj.count_winners }} победителей среди {{ users|length }} участников.
                Каждый получил по {{ starsByOne }} Telegram Stars.</p>
        {% endif %}
        <div
            class="container {% if isFinished %}winners{% endif %}"
        >
            {% if isFinished %}
                {% for winner in winners %}
                    <div class="user">
                        <div class="user__img">
                            <img src="{{ winner.photo }}" alt="">
                        </div>
                        <div class="user__info">
                            <h3>{{ winner.name }}</h3>
                            <p><img src="{% static 'prizes_app/images/chance.png' %}" alt="">{{ winner.chance }}% шанс
                                 <img src="{% static 'prizes_app/images/user-ico.png' %}"> {{ winner.invites }}</p>
                        </div>
                        <div class="user__invites">
                            <p>+{{ starsByOne }}<img src="{% static 'prizes_app/images/ministar.png' %}"></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <p class="tg-info"></p>
        {% if not isFinished %}
            <a href="{{ url_button }}" class="invite_users">Пригласить друзей</a>
        {% endif %}

    </main>
{% endblock content %}

{% block scripts %}
    <script charset="UTF-8" src="{% static 'prizes_app/js/main.js' %}" type="module"></script>
    <script charset="UTF-8" src="{% static 'prizes_app/js/components/Timer.js' %}" type="module" defer></script>
    <script charset="UTF-8" src="{% static 'prizes_app/js/components/UserCollector.js' %}" type="module"></script>
{% endblock scripts %}