@mixin to-center($align-center: true, $justify: true, $column: false) {
    display: -webkit-flex;

    @if ($align-center == true) {
        -webkit-align-items: center;
    };
    @if ($justify == true) {
        -webkit-justify-content: center;
    }

    @if ($column == true) {
        -webkit-flex-direction: column;
    }
}